﻿@{
    ViewBag.Title = "Posts";
}
<script>
</script>


<div class="col">
    <div class="col-md-4">
        <h2>Profile</h2>
        <div class="card">
            <div class="container">
                <h4><b>Name: @Html.Raw(ViewBag.name)</b></h4>
                @if (ViewBag.status == true)
                {
                    <h4>
                    <b>Email:</b>
                    <br>
                    <b>@Html.Raw(ViewBag.email)</b>
                    </h4>
                }
            </div>
        </div>
        <ul class="nav flex-column">
            <li>@Html.ActionLink("Profile Settings", "preferance", "Facebook", new { @style = "color:blue" })</li>
        </ul>
    </div>
    <div class="col-md-4" style="padding: 10px">
        <div class="card" style="border: double; padding:10px; background-color: darkcyan">
            <h2 style="text-align:center">Posts</h2>
            @foreach (var item in ViewBag.posts)
            {
                <div class="card" style="border:double">
                    @if (item.picture != null)
                    {
                        <img src="@item.picture" alt="img" style="width:100%">
                    }
                    <div class="container">
                        <h4><b>@item.message</b></h4>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4" style="padding: 10px">
        <div class="card" style="border: double; padding:10px; background-color: darkcyan">
            <h2 style="text-align:center">Feed</h2>
            @foreach (var item in ViewBag.feed)
            {
                <div class="card" style="border:double">
                    @if (item.picture != null)
                    {
                        <img src="@item.picture" alt="img" style="width:100%">
                    }
                    <div class="container">
                        <h4><b>@item.message</b></h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="col">
    
    <div class="col-md-6" style="border: double; padding:10px; background-color: darkcyan">
        <center>
            <h2 style="border:ridge">Likes</h2>
            <div class="card" style="border:ridge;padding:10px;">
                @foreach (var item in ViewBag.likes)
                {
                    <div class="card" style="border:ridge;padding:10px;">
                            <h4><b>@item.name</b></h4>
                    </div>
                }
            </div>
        </center>
    </div>
    <div class="col-md-6" style="border: double; padding:10px; background-color: darkcyan">
        <center>
            <h2 style="border: ridge">Photos</h2>
            <div class="card"style="border: ridge">
                @foreach (var item in ViewBag.albums)
                {
                    foreach (var i in item.photos)
                    {
                        foreach (var e in i.data)
                        {

                            <img src="@e.source" alt="img" style="width:20%">

                        }
                    }
                }
            </div>
        </center>
    </div>
      
</div>



