﻿@model SocialMediaAggregator.Models.Email
@{
    ViewBag.Title = "Posts";
}
<script>
</script>
<h2>Profile</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.user)
    @Html.AntiForgeryToken()

<div class="col">
    <div class="col-md-6">
        <div class="form-group">
            <h3>Status</h3>
            <h4>Tick the box to show email or untick to hide email</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-horizontal">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
        <div class="col-md-6">
             @Html.ActionLink("Back to Home Page","Posts", "Facebook",new { @class = "btn-primary-button" })
        </div>
    </div>
    }
